body{
	background-color: black;
  overflow: hidden;
  height: 100%;
}

.home-hero {
	background: url('../img/homeBG.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:fixed ;

    margin-top: 50px;
    height: 100%;
    top:0;
    left: 0 ;
    right: 0;
	text-align: center;
  vertical-align: middle;
  	color: white;


}

.home-hero h1{
	font-size: 36pt;
  	font-family: Verdana;
    text-shadow: 1px 1px black;
}

.home-hero h3{
    font-family: Geneva, Helvetica  ;
    text-shadow: 1px 1px black;
  }

.about-hero{
  margin-left: 32px;
	color: white;
}

.about-hero h1{
  color:#A95DBC;
}

#footer{
  background-color:black;
  clear:both;
	color:gray;
	position:fixed;
	bottom:0;
	right:0;
	height:30px;
	width:100%;
  text-align:right;
}