body{
	background-color: black;
  height:100%;
}

.home-hero {
    background: url('../img/homeBG.jpg') no-repeat center center fixed; 
    background-size: cover;
    position:absolute; 
    padding-bottom: 40%;
    margin-top: 50px;
    height: 90%;
    top:0;
    left: 0 ;
    right: 0;
    text-align: center;
    vertical-align: middle;
  	color: white;
    font-family: Verdana ,Geneva, Helvetica;
    text-shadow: 1px 1px black;
}


.home-hero h1{
	font-size: 36pt;
}

.about-hero{
  margin-left: 32px;
	color: white;
  padding-bottom: 40%;
}

.about-hero h1{
  color:#A95DBC;
}

#footer{
  background-color:black;
  clear:both;
	color:gray;
	position:fixed;
	bottom:0;
	right:0;
	height:30px;
	width:100%;
  text-align:right;
}