body{
  background: url('../img/homeBG.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert{
  margin-bottom: 30px !important;
}

.header{
  font-size: 125%;
  width:100%;
}

main{
  margin-top:-20px;
}

.home-hero {
  position:relative;
  height:91vh;
  color: white;
  display: table;
  width: 100%;
}


.home-text{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-family: Verdana ,Geneva, Helvetica;
  text-shadow: 1px 1px black;
}

.home-hero h1{
  font-size: 36pt;
}

.about-hero{
  margin-left: 32px;
  color: white;
  font-size: 125%;
  text-shadow: 1px 1px black;
}

.about-hero h1{
  color:#80CCFF;
}

.about-hero #name{
  font-weight: bold;
  font-family: Avro;
  font-size:150%
}

.about-hero #subname{
  font-style:italic;
  font-family: Avro;
  font-size:120%
}

.about-hero #bibliography{
  font-family:serif;
}

.footer{
  position: relative;
  clear:both;
  font-size:115%;
  font-family: Avro;
  color:white ;
  text-align:right;
  vertical-align: center;
}

.indent-right{
  margin-right: 10px;
  height:  100%;
}

.navbar a.active {
  background-color: black !important;
  color: white !important;
}

.home-btn{
  opacity: 0.5;
  border-spacing: 0px;
  color:white;
  background-color: #571A1A;
  border-radius: 4px;
  vertical-align: center;
  text-align: center;
  font-family: Arvo;
  max-width: 200px;
  margin: 10px 6px 10px 6px;
  white-space: normal;
}

.home-btn #movie-ico{
  height:40px;
  float: left;
  padding-left: -10px;
}

.form-horizontal{
  padding-left: 30px;
  padding-right: 0px;
}

.control-label{
  color:white;
  width:100px;
}

.help-block {
  margin-top: 0px;
  margin-bottom: 0px;
}

.editActions{
  padding: 10px;
  margin-left:30px;
}

.thumb_info{
  text-align: right;
}

span.maintext{
  font-weight: bold;
  font-family: Avro;
  color:white;
  font-size:90%;
}

span.sparetext{
  font-size:75%;
  color:white;
  text-overflow: ellipsis;
}

.thumbnail{
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color:#25383C !important;
  background: rgba(64, 64, 64, .8);
  margin-right: 5px;
}

.details-hero .img-responsive{
  max-width: 95% !important;
  max-height:75%;
}

.details-hero .control-label{
  text-align: left;
}

.img-form{
  margin-top:2px;
  padding-left: 30px;
  padding-right: 10px;
}

.has-error .control-label,
.has-error .help-block,
.has-error .form-control-feedback{
  color:red;
}

.has-success .control-label,
.has-success .help-block,
.has-success .form-control-feedback {
  color: #18bc9c;
}

.review-back{
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color:#26E646 !important;
  background: rgba(255, 251, 178, .8);
  margin-right: 5px;
  padding:10px;
}

.review-form{
  color:black;
  font-weight: bold;
  font-family: Avro;
}

.top-view,
.mid-view,
.sub-view{
  margin:5px 5px 10px 5px;
}

.mid-view .control-label{
  width:100%;
  text-align: left;
}

.mid-view .form-group{
  margin-bottom:0px;
}

.view-score{
  color:red;
  font-weight: bold;
  font-size: 14px;
}

.dropdown:hover #orderDiv.dropdown-menu {
  display: block;
  margin-top: 0;
}

#moviereview{
  width:87px;
  height:85px;
  margin-bottom:5px;
  vertical-align: 50%;
  color:white;
  position: relative;
  background-repeat: no-repeat;
}

#moviereview span{
  left: 0;
  position:absolute;
  text-align:center;
  top: 30px;
  width: 100%
}

.flex-container{
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

}

.review-flex{
  flex-grow:1;
}

.info-flex{
  flex-grow:2;
  white-space: nowrap;
  overflow: hidden;

}

.flex-item{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
}

.browse-dropdown{
  padding-left:20px;
}