body{
	background-color: black;
  height:100%;
}

.header{
  font-size: 125%;
  width=:100%;
}

.home-hero {
    background: url('../img/homeBG.jpg') no-repeat center center; 
    background-size: cover;
    position:absolute; 
    margin-top: 50px;
    height: 100%;
    top:0;
    left: 0 ;
    right: 0;
  	color: white;
    display: table;
    width: 100%; 
}


.home-text{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-family: Verdana ,Geneva, Helvetica;
    text-shadow: 1px 1px black;
}

.home-hero h1{
	font-size: 36pt;
}

.about-hero{
  margin-left: 32px;
	color: #98AAAA;
  padding-bottom: 40%;
}

.about-hero h1{
  color:#80CCFF;
}

.about-table td{
  padding: 5px;
}
#footer{
  background-color:black;
  clear:both;
	color:gray;
	position:fixed;
	bottom:0;
	right:0;
	height:30px;
	width:100%;
  text-align:right;
}

.indent-right{
  margin-right: 10px;
  height:  100%;
}

.navbar a.active {
  background-color: black;
  color: white;
}