body{
	background-color: black;
  height:100%;
}

.alert{
   padding:10px;
   width:90%
   center;
   display:block;
}

.header{
  font-size: 125%;
  width=:100%;
}

.home-hero {
    background: url('../img/homeBG.jpg') no-repeat center center; 
    background-size: cover;
    position:absolute; 
    margin-top: 50px;
    height: 100%;
    top:0;
    left: 0 ;
    right: 0;
  	color: white;
    display: table;
    width: 100%; 
    padding-bottom: 30px;
}

.home-text{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-family: Verdana ,Geneva, Helvetica;
    text-shadow: 1px 1px black;
}

.home-hero h1{
	font-size: 36pt;
}

.about-hero{
  margin-left: 32px;
	color: #98AAAA;
  padding-bottom: 30px;
}

.about-hero h1{
  color:#80CCFF;
}

.about-table td{
  padding: 5px;
}

#footer{
  background-color:black;
  clear:both;
	color:gray;
	position:fixed;
	bottom:0;
  left:0;
  right:0;
  display:block;
	height:30px;
	width:100%;
  text-align:right;
  vertical-align: center;
}

.indent-right{
  margin-right: 10px;
  height:  100%;
}

.navbar a.active {
  background-color: black !important;
  color: white !important;
}

.home-btn{
  opacity: 0.5;
  border-spacing: 0px;
  color:white;
  background-color: #571A1A;
  border-radius: 4px;
  vertical-align: center;
  text-align: center;
  font-family: Arvo;
  max-width: 200px;
  margin: 10px 6px 10px 6px;
  white-space: normal;
}

.home-btn #movie-ico{
  height:40px;
  float: left;
  padding-left: -10px;
}

.details-hero{
  padding-bottom: 30px;
}

.form-horizontal{
  padding-left: 30px;
  padding-right: 0px;
}

.control-label{
  color:white;
  width:100px;
}

.help-block {
margin-top: 0px;
margin-bottom: 0px;
}

.editActions{
  padding: 10px;
  margin-left:30px;
}

.thumb_info{
  text-align: right;
}

span.maintext{
  font-weight: bold;
  font-family: Avro;
  color:white;
}

span.sparetext{
  font-size:80%;
  color:white;
}

.thumbnail{
  position: relative;
  border-width: 1px;
  border-radius: 4px;
border-color:#25383C !important;
background-color:#181010 !important;
  margin-right: 5px;
}

.details-hero .img-responsive{
  max-width: 95% !important;
  max-height:75%;
}

.details-hero .control-label{
  text-align: left;
}

.img-form{
  margin-top:2px;
  padding-left: 30px;
  padding-right: 10px;
}

