

<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
  <div class="thumbnail plain" title="<%= title%>">
    <div class="thumb_video">
      <a href="#movies/<%=_id%>" class="plain">
        <video class="img-responsive" controls preload="none" controls poster="<%=poster%>" >
            <source src="<%=trailer%>" type="video/mp4"/>
            <!-- fallback -->
        </video>

        <div class="thumb_info">
        <div>
          <span class="maintext"><%= title %></span><span class="sparetext">{<%= released %>}</span>
          </div>
          <div>
          <span class="maintext">Directed by: </span><span class="sparetext"> <%= director %></span>
          </div>
          <div>
          <span class="maintext">Starring: </span><span class="sparetext"> <%= starring %></span>
          </div>
          <div>
          <span class="maintext">Genres: </span><span class="sparetext"> <%= genre %> 
          </div>
          <div>
           </span><span class="maintext">Rating: </span><span class="sparetext"> <%= rating %></span>
          </div>
          <div>
           </span><span class="maintext">Last Edit: </span><span class="sparetext"> <%= dated %></span>
          </div>
          <!-- ADD-CODE -->
        </div>
      </a>
    </div>
  </div>
</div>