
<div class="thumbnails col-lg-2 col-md-3 col-sm-4 col-xs-6">
    <div class="thumbnail plain">
        <!--message-->
    <div class="sub-view review-back">
        <div id="thumbview-text"><img src="<%= reviewImg %>"/><span class="sparetext" style="color:black;"><%= reviewText %></span></div>
    </div>
        <!--reviewer-->
    <div id=""><img src="img/critic.gif"/><span class="sparetext" style="color:white;"><%= reviewAffil %></span>
    </div>
        <div class="sparetext" style="color:white;"><%= reviewName %></div>
        </div>
</div>

